[user]
    name = {{ .name }}
    email = {{ .email }}
{{- if and (lookPath "pass-cli") .proton_pass_ssh_item }}
    signingkey = {{ protonPass (printf "%s/public_key" .proton_pass_ssh_item) }}
{{- end }}

[core]
    editor = hx
    autocrlf = input
    excludesfile = ~/.gitignore_global
    pager = delta
    hooksPath = ~/.config/git/hooks

[interactive]
    diffFilter = delta --color-only

[delta]
    dark = true
    line-numbers = true
    hyperlinks = true
    side-by-side = false

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --
    last = log -1 HEAD

[diff]
    tool = nvimdiff

[merge]
    tool = nvimdiff
    conflictStyle = zdiff3

[credential]
    helper = {{ if eq .chezmoi.os "darwin" }}osxkeychain{{ else }}store{{ end }}

{{- if and (lookPath "pass-cli") .proton_pass_ssh_item }}

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[commit]
    gpgsign = true
{{- end }}
